h1 { color: red;  font-family: Arial;  font-size: 80px;  }

head{ align-items: center;}

body{
    background-color: antiquewhite
}


#contenido {
     float:left;
     background-color:azure;
    width: 30%;
}

#contenido2 {
    float:left;
     background-color:azure;
    width: 30%;
}